@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    }
.box {
    max-width: 50%;
    margin: auto;
}
.chad{
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(1, 1, 1, 2);
}
.intro{
    display: flex;
    border-radius: 15px;
    font-weight: 900;
}

.intro-text{
    margin-left: 15px;
}
.hobby{
    background-color: rgb(113, 181, 183);
    border-radius: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: cornsilk;
}
.lang{
    background-color: rgb(71, 184, 179);
    border-radius: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: cornsilk;
}
.add{
    background-color: rgb(98, 150, 227);
    border-radius: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: cornsilk;
}
.social{
    background-color: rgb(119, 175, 194);
    border-radius: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: cornsilk;
}
.social li{
    list-style: none;
}
.music{
    background-color: lightskyblue;
    border-radius: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: cornsilk;
}
    .music li{
        list-style: none;
    }
.link label{
    display: block;
}
.link input{
    width: 100%;
    border: none;
    border-bottom: solid;
    box-sizing: border-box;
    padding:10px 15px;
    outline: none;
    font-family: inherit;
}
.link textarea{
    width: 100%;
    border: none;
    border-bottom: solid;
    box-sizing: border-box;
    padding:10px 15px;
    outline: none;
    font-family: inherit;
}

a{
    color: rgb(112, 84, 6);
}
.hell{
    display: flex;
    margin-bottom: 20px;
}
.hell > .link{
    width: 50%;
    margin-right: 20px;
}
.btn{
    background: rgb(117, 216, 215);
    padding: 10px 15px;
    color: black;
    border: none;
    font-family: inherit;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}
